<div class="col-sm-4">
  Image goes here
</div>
<div class="col-sm-8" style="text-align: right">
  <h2>BeardStat Web UI v{{version.ui}}</h2>
  <small>For plugin version {{version.plugin}}</small>
  <p>
    BeardStat Web UI is a application to allow a server owner to display stats of players on their server.<br/>
    The Web UI also delivers reports based off of player stats such as average play time.
  </p>
  <h3>BeardStat is built with:</h3>
  <ul style=" list-style-type: none">
    <li ng-repeat="part in builtwith"><a href="{{part.url}}">{{part.name}}</a></li>
  </ul>
</div>